<!-- <div class="body">
    <img class="image" src="https://static1.squarespace.com/static/5ab6b93e5b409be7fa331cf1/t/5ac67b8c575d1f09cf1c833c/1528826021109/?format=1500w">
    <div class="middlePage">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"> Log in</h3>
            </div>
            <div class="panel-body">

                <div class="row"> -->

<div class="login">
    <h2 class="title"> Accionite! Login here </h2>
    <button class="loginBtn loginBtn--google" style=" align-items:center; margin-left: 52px;" (click)="socialSignIn('google')">
              Login with Google
            </button>
</div>
<!-- </div>
            </div>
        </div>
    </div>
</div> -->